{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, my name is Temitope Olatunji and I am a python developer who also likes to blog sometimes. I like to talk about almost anything and everything, from music to movies, sports, entertainment, education and almost every other thing.</p>
        <p>The main reason this blog was created was to test my development skills. It helped me put into practice most of the concepts I had been learning. This was built using Flask framework for python, and the other usual web development technologies (HTML, CSS, and Bootstrap)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}